.height100{
    height: 100%;
}
.lineGap{
    height: 3px;
    width:1px;
}
.smallGap{
    height: 10px;
    width:1px;
}
.middleGap{
    height: 20px;
    width:1px;
}
.largeGap{
    height: 50px;
    width:1px;
}
.appBackground{
    background-color:  white !important;
}
.pointer{
    cursor: pointer;
    user-select:none;
}
.primaryIcon{
    composes:pointer;
    transition: all .25s ease-in-out;
}
.primaryIcon:hover{
    color:#108ee9;
}
.functionalIcon{
    composes:pointer;
    color:#ccc ;
    transition: all .25s ease-in-out;
    // line-height: 38px;
    // padding-left: 10px;
    // font-size: 14px;   
}
.functionalIcon:hover{
    color:#108ee9;
}
