.characters {
    -webkit-user-select: none;
    /* Chrome all / Safari all /opera15+*/
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    // margin-left: 5px;
    // margin-bottom: 20px;
    // margin-left: 10px;
    
}
.single-container {
    margin: 5px 0px;
    display: inline-block;
    // margin: 5px 0px 5px 0px;
}
.or {
    font-size: 14px;
    padding: 0 2px;
    color: #9fc1d6;
}
.character {
    white-space: nowrap;
    border:1px solid rgba(25, 75, 123, 0.15); 
    // background-color: rgba(25, 75, 123, 0.15); 
    color: black;
    display: inline-block;
    padding: 0px 4px;
    height: 26px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 1px;
}
.name{
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    font-size: 13px;
}
.cross {
    cursor:pointer;
    padding-left: 3px;
    display: inline-block;
    vertical-align: top;
}
.cross:active {
    color: black;
}
.icon-guanbi2fill {
    font-size: 16px !important;
    color: #6da5d8;
}
.icon-guanbi2fill:hover {
    color:red;
}