.description{
    line-height: 1.25;
    font-size: 14px;   

}
.textTitle{
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    
}
.textTitleLimited{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.dpdn{
    line-height: 48px;
    cursor: pointer;
    padding-left: 10px;
}
.table{
}
.tableBlock{
    background-color: white;
}

